h1 {
  /* background-color: pink; */
  display: inline-block;
  width: 50%;
}

.main-nav {
  /* background-color: red; */
  display: inline-block;
  width: 50%;
  text-align: right;
}

.main-nav li {
  /* border: solid 1px black; */
  display: inline;
  padding-right: 1em;
}

.yellow-bg:hover {
  background-color: yellow;
}
