.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 990;
}

.modal .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 995;
  background-color: rgba(0,0,0,0.7);
}

.modal .modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 90%;
  width: 500px;
  overflow: auto;
  background-color: #FFF;
  box-sizing: border-box;
  padding: 30px;
  box-shadow: 0 1px 5px rgba(0,0,0,0.7);
  border-radius: 4px;
  z-index: 999;
}

.modal .modal-content h3 {
  padding-bottom: 5px;
}

.modal .modal-content h3 .yellow {
  background-color: yellow;
}

.modal .modal-content .close-modal {
  position: absolute;
  top: 30px;
  right: 30px;
}

.modal .modal-content .close-modal:hover {
  color: #AAA;
}
