.sidebar h3 {
  margin: 10px 0;
}

.sidebar img {
  width: 100%;
  margin: 5px 0;
  border: solid 1px #CCC;
}

.yellow {
  background-color: yellow;
}

.open-close {
  float: right;
}

.open-close:hover {
  color: grey;
}

.category {
  font-weight: 700;
}

.description {
  margin-bottom: 5px;
}
