* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.material-icons {
  font-size: 30px;
}

.app {
  width: 100vw;
  height: 100vh;
}

.header {
  background-color: rgba(255, 255, 255, 1);
  width: 100vw;
  height: 10vh;
  position: fixed;
  z-index: 2;
  border-bottom: solid 1px #CCC;
  padding: 15px;
}

.main-container {
  width: 100vw;
  height: 90vh;
  position: fixed;
  top: 10vh;
}

.sideBar {
  background-color: rgba(255, 255, 255, 1);
  width: 30vw;
  height: 90vh;
  position: fixed;
  top: 10vh;
  z-index: 1;
  border-bottom: solid 1px #CCC;
  border-right: solid 1px #CCC;
  padding: 15px;

  /* visibility: hidden; */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
