* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  line-height: 1.7em;
}

.material-icons {
  font-size: 30px;
}

.app {
  width: 100vw;
  height: 100vh;
}

.header {
  background-color: rgba(255, 255, 255, 1);
  width: 100vw;
  height: 10vh;
  position: fixed;
  z-index: 2;
  border-bottom: solid 1px #CCC;
  padding-top: 25px;
  padding-left: 20px;
}

.main-container {
  width: 100vw;
  height: 90vh;
  position: fixed;
  top: 10vh;
}

.sidebar {
  background-color: rgba(255, 255, 255, 1);
  width: 33vw;
  height: 90vh;
  position: fixed;
  top: 10vh;
  z-index: 1;
  border-bottom: solid 1px #CCC;
  border-right: solid 1px #CCC;
  padding: 20px;
  overflow: scroll;
  /* visibility: hidden; */
}

h2 {
  padding-bottom: 8px;
}

button {
  background-color: white;
  border: none;
}

input[type=text], input[type=email], input[type=password] {
  padding: 5px 8px;
  width: 100%;
}

input[type=submit] {
  border: solid 1px #CCC;
  padding: 5px 8px;
  margin-top: 15px;
}

input[type=submit]:hover {
  background-color: #CCC;
}

label {
  display: block;
}

li {
  list-style-type: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
